* {
  margin: 0;
  padding: 0; }

.body-container {
  background-image: url(../img/portada.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.menu-contenedor {
  background-image: radial-gradient(circle at 68.47% 10.39%, #ffffe9 0, #ffffe9 7.14%, #ffffe9 14.29%, #ffffe9 21.43%, #f7ffe8 28.57%, #e9ffe5 35.71%, #daffe1 42.86%, #cdf2da 50%, #c2e3d2 57.14%, #b9d6cb 64.29%, #b2cbc4 71.43%, #adc1bd 78.57%, #a9bab8 85.71%, #a7b4b4 92.86%, #a5b0b1 100%); }

.logo {
  display: flex;
  background-color: white;
  margin: 1em; }

.navbar-nav li:hover {
  transform: scale(2);
  transition: all 3s; }

h1 {
  font-size: 60px;
  text-align: center;
  padding: 10px;
  margin: 5px;
  color: black;
  animation: changecolor 5s infinite; }

@keyframes changecolor {
  0% {
    background-color: aqua; }
  25% {
    background-color: #00b3b3; }
  50% {
    background-color: aqua; }
  100% {
    background-color: #00b3b3; } }

.subtitulo {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 25px;
  margin: 6em;
  padding: 4em; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-style: italic; }

.img-fluid {
  padding: 2em; }

.helados-section {
  display: flex;
  justify-content: space-between;
  padding: 8px; }

.helados-section-dos {
  display: flex;
  justify-content: space-between;
  padding: 8px; }

.hel1, .hel2, .hel4, .hel5, .hel6, .hel7 {
  width: 33%; }

.p-footer {
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: end;
  margin: 4px;
  padding: 5px; }

.telefonos {
  margin: 1em;
  padding: 8px;
  color: black; }

.section-img img {
  padding: 1em;
  margin: 5px; }

.section-img {
  margin: 1em;
  display: flex;
  justify-content: space-between; }

.hel-uno, .hel-dos, .hel-tres {
  width: 33%; }

.section-ice {
  margin: 1em;
  display: flex;
  justify-content: space-between; }

.hela-uno, .hela-dos, .hela-tres {
  width: 33%; }

.section-prod {
  font-size: 20px;
  color: black;
  display: flex;
  padding: 1em; }

.main-productos {
  background-color: #b7f7f7;
  padding: 1.5px; }

.footer-productos {
  background-color: #b7f7f7;
  display: flex;
  flex-wrap: wrap; }

.h2-productos {
  font-size: 30px;
  padding: 3em; }

.ul-productos {
  font-size: 20px;
  font-style: italic;
  font-weight: bolder; }

.body-nosotros {
  background-image: linear-gradient(225deg, #ffd174 0, #ffd770 4.17%, #fedb6f 8.33%, #f1e06f 12.5%, #e3e472 16.67%, #d4e877 20.83%, #c4ec7f 25%, #b4ef88 29.17%, #a2f292 33.33%, #90f49e 37.5%, #7bf6ab 41.67%, #64f8b9 45.83%, #46f9c7 50%, #09fad6 54.17%, #00fae5 58.33%, #00faf3 62.5%, #00faff 66.67%, #00f9ff 70.83%, #00f8ff 75%, #00f7ff 79.17%, #00f5ff 83.33%, #00f2ff 87.5%, #00efff 91.67%, #2becff 95.83%, #5fe8ff 100%); }

.section-nosotros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  margin: 5px;
  border: 5px double black; }

.elaboracion-img {
  width: 80%;
  padding: 15px;
  border-radius: 35px; }

.parrafo {
  font-size: 2em;
  padding: 6px; }

.footer-nosotros {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.copahelada-img {
  height: 10%;
  padding: 2em; }

.ul-nosotros {
  font-size: 3em; }

.sociales {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 2em;
  background-color: aqua; }

.footer-contacto {
  display: flex;
  justify-content: center; }

.footer-contacto p {
  padding: 3em;
  font-size: 3em; }

a {
  text-decoration: none;
  color: black;
  font-size: 32px; }

hr {
  height: 5px; }

@media only screen and (max-width: 600px) {
  /*inicio*/
  .subtitulo {
    font-size: 10px;
    display: flex;
    justify-content: center; }
  .img-fluid {
    display: flex;
    justify-content: center; }
  .parrafo-seccion {
    font-size: 15px; }
  /*productos*/
  .section-img {
    display: flex;
    flex-direction: column;
    align-items: center; }
  /*nosotros*/
  .footer-nosotros {
    display: flex;
    display: table-row; }
  .copahelada-img {
    display: flex;
    align-items: center;
    width: 100%; }
  .ul-nosotros {
    font-size: 25px; }
  /*contacto*/
  .sociales {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
    padding: 6em; }
  .footer-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em; } }
