@import "base/colores";

*{
    margin: 0;
    padding: 0;
}


.body-container{
    
    background-image: url(../img/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.menu-contenedor{             

    background-image: radial-gradient(circle at 68.47% 10.39%, #ffffe9 0, #ffffe9 7.14%, #ffffe9 14.29%, #ffffe9 21.43%, #f7ffe8 28.57%, #e9ffe5 35.71%, #daffe1 42.86%, #cdf2da 50%, #c2e3d2 57.14%, #b9d6cb 64.29%, #b2cbc4 71.43%, #adc1bd 78.57%, #a9bab8 85.71%, #a7b4b4 92.86%, #a5b0b1 100%);

}

.logo { display: flex;
    background-color: $blanco;
    margin: 1em;

}


.navbar-nav li:hover{
    transform: scale(2);
    transition: all 3s;
}

h1{     
    font-size: 60px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: $negro;
    animation: changecolor 5s infinite;
}
@keyframes changecolor{
    0%{
         background-color: $celeste;    
    }
    25%{
         background-color: darken($color: $celeste, $amount: 15%)   
    }
    50%{
         background-color: $celeste;           
    }
    100%{
         background-color: darken($color: $celeste, $amount: 15%)  
    }
}

.subtitulo{
    display: flex;
    justify-content: center;
    color: $negro;
    font-size: 25px;
    margin: 6em;
    padding: 4em;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-style: italic;


    
}

.img-fluid{

    padding: 2em;

  
    
}

.helados-section{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.helados-section-dos{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.hel1, .hel2, .hel4, .hel5, .hel6, .hel7{

    width: 33%;
}
.p-footer{
    font-size: 20px;
    color: $negro;
    display: flex;
    justify-content: end;
    margin: 4px;
    padding: 5px;
}

.telefonos{
    margin: 1em;
    padding: 8px;
    color: $negro;
    
}

