@import "mixins";

@include phone{

  /*inicio*/

  .subtitulo{
    font-size: 10px; 
    display: flex;
    justify-content: center;
    
  }

  .img-fluid{
    display: flex;
    justify-content: center;
    
    
  }


  .parrafo-seccion{
    font-size: 15px;
  }

  .sociales-inicio{
    width: 100%;
  }


  /*productos*/

  .section-img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*nosotros*/
  .footer-nosotros{
    display: flex;
    display: table-row;
  }
  .copahelada-img{
    display: flex;
    align-items: center;
    width: 100%;
  }

  .ul-nosotros{
    font-size: 25px;
  }

  /*contacto*/

  .footer-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;

  }

  .form-contacto{
    width: 100%;
  }
}

@include tablet {

//inicio

.helado-p{
  color: aliceblue;
}

//nosotros

.footer-nosotros{
  display: flex;
  display: table-row;
}
.copahelada-img{
  display: flex;
  align-items: center;
  width: 100%;
}

.ul-nosotros{
  font-size: 25px;
  text-align: center;
  list-style:none;
  }
}

@include desktop {

//inicio

.helado-p{
  color: aliceblue;
}

//nosotros

.footer-nosotros{
  display: flex;
  display: table-row;
}
.copahelada-img{
  display: flex;
  align-items: center;
  width: 100%;
}

.ul-nosotros{
  font-size: 25px;
  text-align: center;
  list-style:none;
  }
}

