@import "componentes/mixins";

@include phone{

  /*inicio*/

  .subtitulo{
    font-size: 10px; 
    display: flex;
    justify-content: center;
    
  }

  .sabores-inicio{
    display: flex;
    justify-content: center;
    width: 100%;
  }


  .parrafo-seccion{
    font-size: 15px;
  }


  /*productos*/

  .section-img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*nosotros*/
  .footer-nosotros{
    display: flex;
    display: table-row;
  }
  .copahelada-img{
    display: flex;
    align-items: center;
    width: 100%;
  }

  .ul-nosotros{
    font-size: 25px;
  }

  /*contacto*/
  .sociales{
    background-color: $blanco;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
    padding: 6em;
  }

  .footer-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }
}


