

.section-img img { 
    padding: 1em;
    margin: 5px;


}

.section-img{
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

.hel-uno, .hel-dos, .hel-tres {
    width: 33%;
}

.section-ice{
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

.hela-uno, .hela-dos, .hela-tres {
    width: 33%;
}


.section-prod{
    font-size: 20px;
    color: $negro;
    display: flex;
    padding: 1em;
}

.main-productos{
    background-color: rgb(183, 247, 247);
    padding: 1.5px;
}

.footer-productos {
    background-color: rgb(183, 247, 247);
    display: flex;
    flex-wrap: wrap;

}  

.h2-productos{
    font-size: 30px;
    padding: 3em;
}

.ul-productos{
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
}